
.page-content {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
	/* height:100vh; */
	overflow: hidden;
	/* margin-right:7px; */
}
.page-header {
	display: flex;
	width:100%;
	/* min-height: 75px; */
	flex-direction: column;
}
.path {
	color:#558b2f;
	text-align:left;
	font-size:9pt;
	display:block;
	font-weight: bolder;
	text-transform: uppercase;
}
.page-title {
	display:block;
	/* border-bottom:1px #95989A solid; */
	padding-bottom: 10px;
	padding-top: 4px;
	margin: 20px 40px 0px 40px;
	font-size:18pt;
}
.menu-button {
	font-size: 16pt;
	margin-left: 21px;
	margin-top: 78px;
	margin-bottom: 16px;
	cursor: pointer;
}
.logo {
	min-width: 64px;
	width: 64px;
	height: 64px;
	padding-top: 8px;
	padding-left: 6px;
	background-color: #1d1d1d;
}