<div style="display:flex;flex-wrap:wrap;">
	<div style="flex: 0 0 33.3333333333%;">
		<h2 style="margin-bottom:15px;">Restore a backup</h2>
		<p *ngIf="backupIsConfigured == false" class="admin-description-text">
			Please configure the backup system before continuing here. Click the <code>Backup Settings</code> button on the left to get started.
			If you're restoring a previous instance of DevCentral, you'll also need to have Vault restored and configured before continuing.
		</p>
		<p *ngIf="backupIsConfigured == true" class="admin-description-text">
			Here, you can restore a previously made backup, either of a single repo or a whole instance.
			<span *ngIf="!hasProjects" class="admin-description-text">If this is a new instance, you won't be able to do a single repo restore.</span>
		</p>
	</div>
	<div style="flex: 0 0 66.6666666667%;min-height:50vh;" class="content-height">
		<h4 style="margin-bottom:10px;">Restore settings</h4>
		<mat-radio-group [disabled]="backupIsConfigured == false" [(ngModel)]="restoreType">
			<div class="type-selector">
				<mat-radio-button style="font-size:12pt;font-weight:bold;" color="primary" value="full">Full</mat-radio-button>
				<p style="margin-left:28px">All repos and the DB. Will erase any existing data.</p>
			</div>
			<div *ngIf="hasProjects" class="type-selector">
				<mat-radio-button style="font-size:12pt;font-weight:bold;" color="primary" value="single">Single Repo</mat-radio-button>
				<p style="margin-left:28px">Restore only a single repository.</p>
			</div>
		</mat-radio-group>
		<span *ngIf="restoreType == 'single'">
			<mat-form-field class="login-register-text-box" style="min-width: 35.8vw;">
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
			<mat-table class="mat-elevation-z8" *ngIf="hasProjects" [dataSource]="dataSource">
				<ng-container matColumnDef="Name">
					<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{element.projectName}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="AddToBackup">
					<mat-header-cell *matHeaderCellDef>Restore</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<mat-checkbox color="primary" (click)="$event.stopPropagation()"
									  (change)="checkChanged(element.projectName)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
			<div *ngIf="!hasProjects" class="settings-message">
				<p style="text-align:center;">Project list is empty</p>
			</div>
		</span>
		<button [disabled]="disableRestoreButton()" type="submit" class="save-button"
				color="primary" mat-raised-button (click)="save()">
			Restore
		</button>
	</div>
</div>

<!-- (change)="checkChanged(e, 'hasAccess')" -->