* {
	outline: none;
}
.notes-page-root {
	flex: 2;    
	height: 100%;	
	width:410px;
	margin:0px 69.3% 0px 0px;
    background-color: #2e2e2e;
}
.page-width {
	width: 100%;
}
.project-list {
	width: 120px;
    height: 40px;
    background-color: #2e2e2e;
	padding: 11px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.project-list:hover {
	background-color: #1d1d1d;
}
.project-name {
	margin: 0px 0px 0px 4px;
}
.page-title {
    color: white;
	font-size: 26pt;
}
.note-content {
	margin: 40px 10vh 40px 10vh;
}
.notebook-menu {
	background-color: #1d1d1d;
    height: 100vh;
    position: fixed;
    margin-left: 60px;
    z-index: 1;
    width: 350px;
}
.notebook-menu-collapsed {
	width: 70px;
	margin-left: 0px;
    position: unset;
    overflow: hidden;
}
.notebook-list {
	padding: 20px;	
}
.notebook-list-collapsed {
	filter: grayscale(1);
    opacity: 50%;
}
.content-block {

}
.content-block:empty::before {
	content: attr(placeholder);
    display: block;
}
.initial-block {
    width: 91%;
    background-color: #333333;
    border: 2px #6e6e6e dashed;
    font-style: italic;
    color: #666;
    height: 60%;
    text-align: center;
	padding: 110px;
	cursor: pointer;
}
.initial-block:hover {
	border: 2px #464646 dashed;
	background-color: #464646;
}
.icon {
    fill: none;
    stroke: #98959A;
	stroke-width: 2px;
	width: 32px;
	height:32px;
	display:block; 
	margin:0px auto;
}
.icon:hover {
	stroke: #A83D3E;
}