@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}
html, body {
	font-family: 'Roboto';
  height: 100vh;
  display: flex;
  background-color: #515151;
	color: #98959a;
	font-size: 14px;
	width: 100%;
}
app-projects-root {
	width: 100%;
	min-width: 646px;
	/* max-width: 655px; */
}
app-editor-root {
	width: 100%;
	min-width: 646px;
}
app-project-editor {
	width: 100%;
	min-width: 646px;
}
components-home {
	width: 100%;
}
components-list-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}
components-login, components-register, components-list, app-project-page, app-admin-root, app-new-project, app-notes-root, app-notes-list {
	width: 100%;
}
component-project-list{
	background-color: #dedede;
	width: 100%;
	color:black;
	height: max-content;
}
app-project-page, app-new-project {
	height: 100%;
}
pre {
	font-size: 13px;
	width: 100%;
	white-space: pre-wrap;
}
code {
	font-family: 'Roboto Mono', monospace;
}
blockquote {
  border-left: 3px solid #888;
  padding-left: 12px;
  color: #888;
}
#root {
	display: flex;
	width: 100%;
}
#button-text-style {
	text-transform: uppercase;
	font-weight:700;
	width:197px;
	margin-top:15px;
}
#left-column {
	width:45%;
	height:75%;
	float:left;
	border-right:1px solid #7e7e7e;
	margin:32px 0 0 0;
}
#right-column {
	width:54%;
	height:100%;
	float:right;
}
#nav-module-header {
	color: #bfbfbf
}
#page-block-title {
	color: #afafaf
}
#logo-block-bg-color {
	background-color: #558B2F
}
#register-logo-block-color {
	background-color: #689F38
}
#background-color {
	background-color: #2e2e2e;
	width:100%;
}
.error {
	font-size: 10pt;
	height: 15px;
	margin-right: 25px;
	color: #F44336;
	text-transform: capitalize;
}
.logo-block {
	width:90px;
	height:76px;
	color:white;
	font-size:43pt;
	text-align: center;
	margin:25px auto;
	padding-top:14px;
}
.logo-block::before {
	content: "DC"
}
.not-header-text-color {
	color:#95989a;
	font-size:12pt;
	font-weight:300;
	text-decoration-line: none
}
.login-register-form-container {
	margin: 68px 0px 0px 20px;
	color:white
}
.login-register-text-box {
	margin-right:8px;
	display: block;
}
.path {
	color:#558b2f;
	text-align:left;
	font-size:9pt;
	display:block;
	font-weight: bolder;
	text-transform: uppercase;
}
.mCSB_inside > .mCSB_container {
	margin-right: 0px !important;
}
.block-container {
	display: flex;
	height: 100%;
	/* justify-content: center; */
	align-items: center;
	flex-direction: row;
	/* margin-right: 64px; */
}
.page-content {
	display: flex;
	flex-direction: column;
	height:100vh;
	overflow: hidden;
	/* margin-right:7px; */
}
.logo-plus-menu {
	align-self: flex-start;
}
.admin-description-text {
	line-height: 1.75;
	margin-right: 24px;
}
.project-page-root {
    padding: 30px 50px 30px 50px;
    background-color: #0d0d0d;
    height: 100%;
}
.tree-block {
    background-color: #1d1d1d;
    width: 300px;
    z-index: 1;
    display:block;
	padding-top:15px;
	overflow: hidden;
}
.tree-container {
	height: 100%;
    align-items: stretch;
    flex-direction: row;
    display: inline-flex;
    bottom: 0px;
}
.menu-block {
    background-color: #1d1d1d;
    width: 300px;
    z-index: 1;
    display:block;
    /* margin-right: 64px; */

    /* max-height: 630px; */
}
.menu-block-hidden {
    display: none;
}
.menu-button-active {
    background-color: #1d1d1d;
}
.menu-category {
    padding-bottom: 7px;
    margin: 0px 35px 10px 35px;
    display: block;
    font-size: 10.5pt;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px #333333 solid;
}
.menu-category-block div:last-of-type {
    margin-bottom: 25px;
}
.menu-item-details {
    flex: 7;
    margin: 10px 30px 10px 10px;
}
.menu-item-title {
    display: block;
    font-size: 12pt;
}
.menu-item {
    display:flex;
}
.menu-item:hover {
    background-color:#272727;
    cursor: pointer;
}
.menu-button-active {
    background-color: #1d1d1d;
}
.menu-container {
    height: 100%;
    align-items: stretch;
    flex-direction: row;
    display: inline-flex;
    bottom: 0px;
    /* flex: 1; */
}
.menu-item-description {
    color: #515151;
}
.menu-item-icon {
    flex: 1;
    margin-top: 7px;
    margin-left: 30px;
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
}
.identicon.bg1 {
    background-color: #ffc1ca
}
.identicon.bg2 {
    background-color: #f3d0f7
}
.identicon.bg3 {
    background-color: #c9d0fa
}
.identicon.bg4 {
    background-color: #a5d9fc
}
.identicon.bg5 {
    background-color: #a8faf6
}
.identicon.bg6 {
    background-color: #fbc9c4
}
.identicon.bg7 {
    background-color: #eee
}
.save-button {
	text-transform:uppercase;
	display:inline-block;
	margin-top:10px;
}
@media (max-height: 650px) {
	.content-height {
		max-height:83vh
	}
}
@media (min-height: 940px) {
	.content-height {
		max-height:90vh
	}
}
/*
*
* Diff to HTML (diff2html.css)
* Author: rtfpessoa
*
*/

.d2h-file-header {
	height: 35px;
	padding: 5px 10px;
	border-bottom: 1px solid #343434 !important;
	background-color: #202020 !important;
}
.d2h-wrapper {
	text-align: left;
}

.d2h-file-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	font-size: 14px;
}

.d2h-lines-added {
	text-align: right;
	border: 1px solid #b4e2b4;
	border-radius: 5px 0 0 5px;
	color: #399839;
	padding: 2px;
	vertical-align: middle;
}

.d2h-lines-deleted {
	text-align: left;
	border: 1px solid #e9aeae;
	border-radius: 0 5px 5px 0;
	color: #c33;
	padding: 2px;
	vertical-align: middle;
	margin-left: 1px;
}

.d2h-file-name-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.d2h-file-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.d2h-file-wrapper {
	border: 1px solid #343434;
	border-radius: 3px;
	margin-bottom: 1em;
}

.d2h-diff-table {
	width: 100%;
	border-collapse: collapse;
	font-family: "Menlo", "Consolas", monospace;
	font-size: 13px;
}

.d2h-diff-tbody > tr > td {
	height: 20px;
	line-height: 1;
}

.d2h-files-diff {
	display: block;
	width: 100%;
	height: 100%;
}

.d2h-file-diff {
}

.d2h-file-side-diff {
	display: inline-block;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 50%;
	margin-right: -4px;
	margin-bottom: -8px;
}

.d2h-code-line {
	display: inline-block;
	white-space: nowrap;
	padding: 0 10px;
}

.d2h-code-side-line {
	display: inline-block;
	white-space: nowrap;
	padding: 0 10px;
}

.d2h-code-line del,
.d2h-code-side-line del {
	display: inline-block;
	margin-top: -1px;
	text-decoration: none;
	background-color: #791212;
	border-radius: 0.2em;
}

.d2h-code-line ins,
.d2h-code-side-line ins {
	display: inline-block;
	margin-top: -1px;
	text-decoration: none;
	background-color: #135813;
	border-radius: 0.2em;
	text-align: left;
}

.d2h-code-line-prefix {
	display: inline;
	background: none;
	padding: 0;
	word-wrap: normal;
	white-space: pre;
}

.d2h-code-line-ctn {
	display: inline;
	background: none;
	padding: 0;
	word-wrap: normal;
	white-space: pre;
}

.line-num1 {
	box-sizing: border-box;
	float: left;
	width: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 3px;
}

.line-num2 {
	box-sizing: border-box;
	float: right;
	width: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 3px;
}

.d2h-code-linenumber {
	box-sizing: border-box;
	width: 86px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #141414;
	color: #757575;
	text-align: right;
	border: solid #666666;
	border-width: 0 1px 0 1px;
	cursor: pointer;
}
.d2h-code-linenumber .d2h-ins {
	  background-color: #0a320a;
}

.d2h-code-side-linenumber {
	box-sizing: border-box;
	width: 56px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #141414;
	color: #757575;
	text-align: right;
	border: solid #eeeeee;
	border-width: 0 1px 0 1px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

.d2h-code-side-emptyplaceholder,
.d2h-emptyplaceholder {
	background-color: #f1f1f1;
	border-color: #e1e1e1;
}

/*
* Changes Highlight
*/

.d2h-del {
	background-color: #481010;
}

.d2h-ins {
	background-color: #002800;
}

.d2h-info {
	background-color: #202020;
	color: #757575;
	border-color: #666666;
}

.d2h-file-diff .d2h-del.d2h-change {
	background-color: #fdf2d0;
}

.d2h-file-diff .d2h-ins.d2h-change {
	background-color: #ded;
}

/*
* File Summary List
*/

.d2h-file-list-wrapper {
	margin-bottom: 10px;
}

.d2h-file-list-wrapper a {
	text-decoration: none;
	color: #558B2F;
}

.d2h-file-list-wrapper a:visited {
	color: #558B2F;
}

.d2h-file-list-header {
	text-align: left;
}

.d2h-file-list-title {
	font-weight: bold;
}

.d2h-file-list-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
}

.d2h-file-list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.d2h-file-list > li {
	border-bottom: #666 solid 1px;
	padding: 5px 10px;
	margin: 0;
}

.d2h-file-list > li:last-child {
	border-bottom: none;
}

.d2h-file-switch {
	display: none;
	font-size: 10px;
	cursor: pointer;
}

.d2h-icon {
	vertical-align: middle;
	margin-right: 10px;
	fill: currentColor;
}

.d2h-deleted {
	color: rgb(138, 42, 42);
}

.d2h-added {
	color: #399839;
}

.d2h-changed {
	color: #a5881d;
}

.d2h-moved {
	color: #2b5a88;
}

.d2h-tag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 10px;
	margin-left: 5px;
	padding: 0 2px;
	background-color: #fff;
}

.d2h-deleted-tag {
	border: #c33 1px solid;
}

.d2h-added-tag {
	border: #399839 1px solid;
}

.d2h-changed-tag {
	border: #a5881d 1px solid;
}

.d2h-moved-tag {
	border: #2b5a88 1px solid;
}

/*
* Selection util.
*/

.selecting-left .d2h-code-line,
.selecting-left .d2h-code-line *,
.selecting-right td.d2h-code-linenumber,
.selecting-right td.d2h-code-linenumber *,
.selecting-left .d2h-code-side-line,
.selecting-left .d2h-code-side-line *,
.selecting-right td.d2h-code-side-linenumber,
.selecting-right td.d2h-code-side-linenumber * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selecting-left .d2h-code-line::-moz-selection,
.selecting-left .d2h-code-line *::-moz-selection,
.selecting-right td.d2h-code-linenumber::-moz-selection,
.selecting-left .d2h-code-side-line::-moz-selection,
.selecting-left .d2h-code-side-line *::-moz-selection,
.selecting-right td.d2h-code-side-linenumber::-moz-selection,
.selecting-right td.d2h-code-side-linenumber *::-moz-selection {
		background: transparent;
}

.selecting-left .d2h-code-line::selection,
.selecting-left .d2h-code-line *::selection,
.selecting-right td.d2h-code-linenumber::selection,
.selecting-left .d2h-code-side-line::selection,
.selecting-left .d2h-code-side-line *::selection,
.selecting-right td.d2h-code-side-linenumber::selection,
.selecting-right td.d2h-code-side-linenumber *::selection {
		background: transparent;
}

.md-p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    height: 100%;
}