@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}
a {
	color: #98959A;
}
html, body {
	font-family: 'Roboto';
  height: 100vh;
  display: flex;
  background-color: #515151;
	color: #98959a;
	font-size: 14px;
	width: 100%;
}
app-projects-root {
	width: 100%;
	min-width: 646px;
	/* max-width: 655px; */
}
app-editor-root {
	width: 100%;
	min-width: 646px;
}
app-project-editor {
	width: 100%;
	min-width: 646px;
}
components-home {
	width: 100%;
}
components-list-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}
components-login, components-register, components-list, app-project-page, app-admin-root, app-new-project, app-notes-root, app-notes-list, app-shared-note {
	width: 100%;
}
component-project-list{
	background-color: #dedede;
	width: 100%;
	color:black;
	height: max-content;
}
app-project-page, app-new-project {
	height: 100%;
}
blockquote {
  border-left: 3px solid #888;
  padding-left: 12px;
  color: #888;
}
pre {
	font-size: 13px;
	width: 100%;
	white-space: pre-wrap;
	background-color: #313131;
	padding: 15px;
}
code {
	font-family: 'Roboto Mono', monospace;
	color: #A83D3E
}
pre code {
	color: #98959A;
}
hr {
	margin-top: 8px;
	margin-bottom: 10px;

}
#root {
	display: flex;
	width: 100%;
}
#button-text-style {
	text-transform: uppercase;
	font-weight:700;
	width:197px;
	margin-top:15px;
}
#left-column {
	width:45%;
	height:75%;
	float:left;
	border-right:1px solid #7e7e7e;
	margin:32px 0 0 0;
}
#right-column {
	width:54%;
	height:100%;
	float:right;
}
#nav-module-header {
	color: #bfbfbf
}
#page-block-title {
	color: #afafaf
}
#logo-block-bg-color {
	background-color: #558B2F
}
#register-logo-block-color {
	background-color: #689F38
}
#background-color {
	background-color: #2e2e2e;
	width:100%;
}
.mat-form-field-appearance-standard .mat-form-field-flex {
	padding: 0px !important;
}
.error {
	font-size: 10pt;
	height: 15px;
	margin-right: 25px;
	color: #F44336;
	text-transform: capitalize;
}
.logo-block {
	width:90px;
	height:76px;
	color:white;
	font-size:43pt;
	text-align: center;
	margin:25px auto;
	padding-top:14px;
}
.logo-block::before {
	content: "DC"
}
.not-header-text-color {
	color:#95989a;
	font-size:12pt;
	font-weight:300;
	text-decoration-line: none
}
.login-register-form-container {
	margin: 68px 0px 0px 20px;
	color:white
}
.login-register-text-box {
	margin-right:8px;
	display: block;
}
.path {
	color:#558b2f;
	text-align:left;
	font-size:9pt;
	display:block;
	font-weight: bolder;
	text-transform: uppercase;
}
.mCSB_inside > .mCSB_container {
	margin-right: 0px !important;
}
.block-container {
	display: flex;
	height: 100%;
	/* justify-content: center; */
	align-items: center;
	flex-direction: row;
	/* margin-right: 64px; */
}
.page-content {
	display: flex;
	flex-direction: column;
	height:100vh;
	overflow: hidden;
	/* margin-right:7px; */
}
.logo-plus-menu {
	align-self: flex-start;
}
.admin-description-text {
	line-height: 1.75;
	margin-right: 24px;
}
.project-page-root {
    padding: 30px 50px 30px 50px;
    background-color: #0d0d0d;
    height: 100%;
}
.tree-block {
    background-color: #1d1d1d;
    width: 300px;
    z-index: 1;
    display:block;
	padding-top:15px;
	overflow: hidden;
}
.tree-container {
	height: 100%;
    align-items: stretch;
    flex-direction: row;
    display: inline-flex;
    bottom: 0px;
}
.menu-block {
    background-color: #1d1d1d;
    width: 300px;
    z-index: 1;
    display:block;
    /* margin-right: 64px; */

    /* max-height: 630px; */
}
.menu-block-hidden {
    display: none;
}
.menu-button-active {
    background-color: #1d1d1d;
}
.menu-category {
    padding-bottom: 7px;
    margin: 0px 35px 10px 35px;
    display: block;
    font-size: 10.5pt;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px #333333 solid;
}
.menu-category-block div:last-of-type {
    margin-bottom: 25px;
}
.menu-item-details {
    flex: 7;
    margin: 10px 30px 10px 10px;
}
.menu-item-title {
    display: block;
    font-size: 12pt;
}
.menu-item {
    display:flex;
}
.menu-item:hover {
    background-color:#272727;
    cursor: pointer;
}
.menu-button-active {
    background-color: #1d1d1d;
}
.menu-container {
    height: 100%;
    align-items: stretch;
    flex-direction: row;
    display: inline-flex;
    bottom: 0px;
    /* flex: 1; */
}
.menu-item-description {
    color: #515151;
}
.menu-item-icon {
    flex: 1;
    margin-top: 7px;
    margin-left: 30px;
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
}
.save-button {
	text-transform:uppercase;
	display:inline-block;
	margin-top:10px;
}
@media (max-height: 650px) {
	.content-height {
		max-height:83vh
	}
}
@media (min-height: 940px) {
	.content-height {
		max-height:90vh
	}
}
.md-p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.page-container {
    height: 100%;
}
.tab-content {
    display:flex;
    flex-wrap:wrap;
    margin-top:17px;
}