<div class="notebook-list-item">
    <div class="notebook-metadata">
        <div class="initials">{{titleInitials}}</div>
        <span class="notebook-title">{{title}}</span>
    </div>
    <div class="actions-bar">
        <div class="icons">
            <mat-icon style="margin-right: 2px; margin-top:2px" class="action-icon" svgIcon="feather_openbook"></mat-icon>
            <mat-icon style="margin-left: 2px;" class="action-icon" svgIcon="feather_fileplus"></mat-icon>
            <mat-icon style="margin-left: 1px;" class="action-icon" svgIcon="feather_trash2"></mat-icon>					
        </div>
    </div>
</div>