.initials {
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    color: white;
    background-color: #A83D3E;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    background-size: cover;
    font-size: 14pt;
    cursor: pointer;
}
.actions-bar {
    flex: 0.3;
    height: 33px;
    margin-top:15px;
    border-radius: 5px;
    background-color: #1d1d1d;
}
.action-icon {
    fill: none;
    stroke: #A83D3E;
    stroke-width: 2px;
}
.icons {
    display: flex;
    margin-top: 4px;
    margin-left: 8px;
    margin-right:5px;
    flex-direction: row;
}
.notebook-title {
    font-size: 14px; 
    margin-left:10px;
}
.notebook-list-item {
    height: 60px;
    display: flex;    
}
.notebook-list-item:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}
.notebook-metadata {
    flex: 1;
    align-items: center;
    display: flex;
    margin-left: 5px;
}
.selected {
    background-color: #2e2e2e;
}