<div class="page-container" style="background-color: #424242;">
	<div style="flex-direction: row;" class="page-content page-width">
		<div class="notebook-list">
			<div style="margin-top: 4px;">
				<mat-toolbar class="notes-list-actions">
					<button class="action-button" mat-button (click)="addNotebook()">
						<mat-icon class="action-button-icon">add</mat-icon> Add Notebook
					</button>
					<button *ngIf="this.activeNotebookID != ''" class="action-button" mat-button (click)="deleteNotebook()">
						<mat-icon class="action-button-icon">delete</mat-icon> Delete Notebook
					</button>
					<span style="flex: 1 1 auto"></span>
					<button [matMenuTriggerFor]="menu" style="margin-right: 14px;" class="action-button" mat-icon-button>
						<mat-icon style="margin-left: 4px;" class="action-button-icon">more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button (click)="addTag()" mat-menu-item style="margin-right: 10px">
							<mat-icon style="color:#A83D3E;margin-right: 8px;">add</mat-icon>Add Tag
						</button>
						<button (click)="showSettingsPanel()" mat-menu-item style="margin-right: 10px">
							<mat-icon style="color:#A83D3E;margin-right: 8px;">admin_panel_settings</mat-icon>Settings
						</button>
					</mat-menu>
				</mat-toolbar>
			</div>
			<span style="display:block;height:92vh;padding-top:20px;" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
				<div *ngIf="this.notebooks.length != 0" style="height:100%;">
					<notebook-list-item [isActive]="this.isActiveNB(notebook.id)" (click)="this.notebookClicked(notebook)"
										[title]="notebook.name" *ngFor="let notebook of this.notebooks"></notebook-list-item>
				</div>
				<div *ngIf="this.notebooks.length == 0" style="height:100%;">
					<p style="text-align: center;font-style:italic;">Its quiet in here. Too quiet.</p>
				</div>
			</span>
		</div>
		<div *ngIf="this.activeNotebookID != ''">
			<div style="background-color: #2e2e2e;height: 100vh;">
				<div style="display: flex;width: 373px;">
					<div #search tabindex="1" id="filterListButton" class="project-list-button" (click)='showMenu("filter", $event)'
						 [class.project-list-button-selected]="showSearch == true">
						<mat-icon style="color:#A83D3E;">filter_list</mat-icon>
						<span *ngIf="this.filterSize == 0" class="project-name">Filter by Tag</span>
						<span *ngIf="this.filterSize == 1" class="project-name">1 Tag Selected</span>
						<span *ngIf="this.filterSize > 1" class="project-name">{{this.filterSize}} Tags Selected</span>
						<mat-icon>expand_more</mat-icon>
						<div class="dropdown-box" [class.dropdown-shown]="showSearch == true" [class.dropdown-hidden]="showSearch == false"
							 malihu-scrollbar [scrollbarOptions]="scrollbarOptions" style="margin-left: 372px;">
							<mat-chip-list *ngIf="this.docTags.length > 0" multiple style="margin-left: 10px;"
										   class="chip-list chip-list-list-item">
								<mat-chip style="border-radius: 0;" [selectable]="true" [selected]="selectedTags.value.has(tag.tagId)"
										  (click)="tagClicked(tag.tagId)" *ngFor="let tag of docTags" [value]="tag.tagId"> {{tag.tagValue}}
								</mat-chip>
							</mat-chip-list>
							<div style="text-align: center;font-style:italic;padding:12px;" *ngIf="this.docTags.length == 0">There is a distinct
								lack of tags here. Maybe you should add some.</div>
						</div>
					</div>
					<button mat-button (click)="newDocument()">
						<mat-icon style="color:#A83D3E">add</mat-icon> New Page
					</button>
				</div>
				<div *ngIf="this.notes != null && this.notes.length > 0" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="list"
					 style="width: 373px;">
					<div (click)="this.noteClicked(note.id)" class="list-element" [class.selected-note]="this.isActiveNote(note.id)"
						 *ngFor="let note of notes">
						<div style="flex: 2;">
							<span style="display: flex;">{{note.title}} </span>
							<mat-chip-list class="chip-list chip-list-list-item">
								<i-feather class="md-icon" name="tag" matTooltipPosition="below" matTooltip="Tags"></i-feather>
								<mat-basic-chip style="display: flex;" class="status-chip-list-item" *ngFor="let t of note.tags">
									<span style="margin-top:1px;">{{getTagValue(t)}}</span>
								</mat-basic-chip>
							</mat-chip-list>
							<mat-chip-list class="chip-list chip-list-list-item">
								<i-feather class="md-icon" name="clock" matTooltipPosition="below" matTooltip="Last Edited on"></i-feather>
								<mat-basic-chip style="display: flex;" class="status-chip-list-item">
									<span style="margin-top: 1px;">{{note.lastEdited | date:'MMMM dd, yyyy hh:mm a'}}</span>
								</mat-basic-chip>
							</mat-chip-list>
						</div>
						<div class="page-action-list">
							<button matTooltipPosition="below" matTooltip="Delete page" mat-icon-button
									(click)="deletePage(note.id, note.title)">
								<i-feather style="color:#A83D3E;margin-bottom: 4px;" name="trash2"></i-feather>
							</button>
							<button style="margin-right: 14px;" class="action-button" matTooltipPosition="below" matTooltip="Share Page"
									mat-icon-button (click)="share(note.id, note.title)">
								<mat-icon style="margin-left: 4px;" class="action-button-icon">share</mat-icon>
							</button>
						</div>
					</div>
				</div>
				<div class="list" style="width: 373px;" *ngIf="this.notes.length == 0">
					<p style="padding: 15px;text-align: center;font-style:italic;">{{this.listEmptyMessage}}</p>
				</div>
			</div>
		</div>
		<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" style="background-color:#252525;flex: 1;" *ngIf="this.pageContent != ''">
			<div style="margin: 20px;">
				<markdown class="editor-element task-description" [data]="this.pageContent"></markdown>
			</div>
		</div>
		<div style="display: flex; flex: 1;justify-content: center;align-items: center;" *ngIf="this.pageContent == ''">
			<i-feather style="transform: translate(0, -50%);width:72px;height:72px;" name="book-open"></i-feather>
		</div>
	</div>
</div>