<div class="block-container">
	<div class="login-block">
		<div class="search-cmd-box">
			<input class="search-box" type="text" placeholder="Type here to filter the list" />
		</div>
		<div class="app-name">{{authService.getUsername()}}'s Notebooks</div>
		<span style="display:block;height:660px;margin-top:32px;margin-bottom:32px;" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
			<div class="item-grid">
				<notebook-list-item (click)="this.navToNotebook(notebook)" [title]="notebook.name" *ngFor="let notebook of notebooks"></notebook-list-item>				
			</div>
		</span>
			
		<div class="nav-links">
			<button mat-icon-button matTooltip="Admin" matTooltipPosition="right" class="nav-link-button" color="white">
				<mat-icon class="icon" svgIcon="feather_sliders"></mat-icon>
			</button>
			<button mat-icon-button matTooltip="New Notebook" matTooltipPosition="right" class="nav-link-button" color="white">
				<mat-icon class="icon" svgIcon="feather_plus"></mat-icon>
			</button>
		</div>
	</div>
</div>