::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5b5b5b;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #5b5b5b;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #5b5b5b;
}
:-moz-placeholder { /* Firefox 18- */
    color: #5b5b5b;
}
input[type=text]:focus {
    outline: none;
}
.icon {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}
#button-style {
	text-transform: uppercase;
	font-weight:700;
    width:40px;
    height: 39px;
    float: right;
    background-color: #A83D3E;
}
.register-link {
	cursor: pointer;
	text-align:center;
	margin-left:15px;
	display: inline-block;
}
.register-link a {
	color:#95989a;
	font-size:12pt;
	font-weight:300;
	text-decoration-line: none
}
.login-block {
    width:1280px;
    height:100vh;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    background-color: #2e2e2e;
    padding: 0px 150px 0px 150px;
}
.block-container {
	/* display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}
.app-name {
    color: #98959a;
    font-size: 16pt;
    margin-top: 23px;
    margin-left: 77px;
    background-color: #212121;
    border-radius: 5px;
    padding: 7px;
    width:max-content;
}
.app-description {
	color: #98959A;
	font-size: 18pt;
	margin-top:3pt;
}
.app-img {}
.search-cmd-box {
    background-color:#1d1d1d;
    width:87%;
    height:40px;
    margin-top:42px;
    margin-left: 70px;
    display: flex;
}
.search-box {
    flex: 1 1 auto;
    height: 39px;
    width: 90%;
    background-color: #1d1d1d;
    border:none;
    font-family: 'Roboto';
    color: #98959A;
    justify-self: left;
    margin: 0px 12px 0px 12px;
}
.nav-links {
    flex: 0.1;
    max-width: 852px;
    margin: 0 72px 0 72px;
    text-align: center;
    border-top:1px solid #98959A;
}
.nav-link-button {
    display:inline-block;
    margin: 20px 10px;
    background-color:#A83D3E; 
}
.wiki-icon {
    width: 48px;
    height: 48px;
    fill: #558b2f;
}
.item-grid {
    flex: 1;
    height:100%;
    display: grid;
    margin-left: 72px;
    max-width: 852px;
    grid-row-gap: 20px;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 0.1fr;
}
.notebook-title {
    font-size: 20px; 
    margin-left:10px;
}

/* 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr; */