<div style="display:flex;flex-wrap:wrap;">
	<div style="flex: 0 0 33.3333333333%;">
		<h2 style="margin-bottom:15px;">Backup Settings</h2>
		<p class="admin-description-text">DC can optionally uploaded encrypted backups of hosted projects to Firebase storage.</p>
		<p class="admin-description-text" style="margin-bottom: 5px;">This requires 2 things:</p>
		<ul>
			<li>
				<p class="admin-description-text">
					That an instance of Hashicorp's Vault is installed and configured. This is where the encryption keys will be stored. You are reponsible for keeping these safe and backed up.
				</p>
			</li>
			<li>
				<p class="admin-description-text">That you have a configured project on Firebase, and a credential file uploaded to the server running this instance of devCentral. </p>
			</li>
		</ul>
		<p class="admin-description-text" style="margin-top: 5px;">The list to the right allows specifying which projects to include in the backup and which to ignore.</p>
	</div>
	<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="content-height" style="flex: 0 0 66.6666666667%;max-height:90vh;">
		<!-- <h4 style="margin-bottom:10px;">Change your B2 credentials</h4>
		<mat-form-field class="login-register-text-box" style="min-width:35.8vw;">
			<input [(ngModel)]="this.appKeyID" matInput placeholder="B2 Application Key ID" name="keyid" required >
		</mat-form-field>
		<mat-form-field class="login-register-text-box" style="min-width:35.8vw;">
			<input [(ngModel)]="this.appKey" matInput placeholder="B2 Application Key" name="keyid" required >
		</mat-form-field>
		<button [disabled]="this.appKeyID == '' || this.appKey == ''" type="submit" class="save-button"
				color="primary" mat-raised-button (click)="save()">
			Save Credentials
		</button> -->
		<button (click)="triggerBackup()" class="save-button" style="display:inline-block" mat-button color="primary">
			Start Backup
		</button>
		<h4 style="margin-top:21px;margin-bottom:10px;">Projects</h4>
		<mat-form-field class="login-register-text-box" style="min-width: 35.8vw;">
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
		<mat-table class="mat-elevation-z8" *ngIf="hasProjects" [dataSource]="dataSource">
			<ng-container matColumnDef="Name">
				<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{element.projectName}}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="AddToBackup">
				<mat-header-cell *matHeaderCellDef>Backup</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<mat-checkbox color="primary" (click)="$event.stopPropagation()"
								  [ngModel]="backupState(element.projectName)" (change)="checkChanged(element.projectName)">
					</mat-checkbox>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
		<mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
		<div *ngIf="!hasProjects" class="settings-message">
			<p style="text-align:center;">Project list is empty</p>
		</div>
	</div>
</div>

<!-- (change)="checkChanged(e, 'hasAccess')" -->