<div class="border">
	<mat-tab-group dynamicHeight="true" animationDuration="0ms">
		<mat-tab label="Write">
			<div class="editor-element" id="editor" (paste)="removeHTML($event)" (input)="editorText = $event.target.innerText"
				 contentEditable="true" spellcheck="false"></div>
			<div style="display: none;" id="editor-stage"></div>
		</mat-tab>
		<mat-tab  label="Preview">
			<markdown ngPreserveWhitespaces class="editor-element task-description" [data]="editorText"></markdown>
		</mat-tab>
	</mat-tab-group>
</div>