<div tabindex="0" id="widget-container" class="container">
	<input type="text" class="filter-box" placeholder="Type to filter the list"/>
	<span id="scrollbox" style="height:370px; max-height:370px;"  *ngIf="cmds != null">
		<div *ngFor="let cmd of cmds">
			<command-list-item (click)="itemClick(cmd)" [HostedItem]="cmd.itemTemplate"></command-list-item>
		</div>
	</span>
	<span *ngIf="cmds == null">
		<p class="empty">Empty.</p>
	</span>
</div>

<!-- malihu-scrollbar [scrollbarOptions]="scrollbarOptions" -->