<div style="display:flex;flex-wrap:wrap;">
	<div style="flex: 0 0 33.3333333333%;">
		<h2 style="margin-bottom:15px;">Import data from Gitlab</h2>
		<p class="admin-description-text">
			If you're moving to Devcentral from GitLab, you can import all of your projects (that's your repos, snippets, wiki pages, issues, etc.) in to Devcentral automatically from this page, because who has time to do all that tediousness manually.
			To get started goto your GitLab instance and create a Personal Access Token. You'll need one with the <code>api</code>, <code>read_repository</code> and <code>read_user</code> scopes.
		</p>
		<!-- (click)="listItemClick(f2.caption, 'tree')" max-height:69vh;-->

	</div>
	<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="content-height" style="flex: 0 0 66.6666666667%;min-height:50vh;">
		<h4 style="margin-bottom:10px;">GitLab access settings</h4>
		<mat-form-field class="login-register-text-box">
			<input [(ngModel)]="this.token" matInput placeholder="GitLab access token" name="token" required>
		</mat-form-field>
		<mat-form-field class="login-register-text-box">
			<input [(ngModel)]="this.instanceURL" matInput placeholder="GitLab instance URL" name="token" required>
		</mat-form-field>
		<button [disabled]="this.token == '' || this.instanceURL == ''" mat-raised-button color="primary"
			class="save-button" (click)="connect()">
			Connect
		</button>
		<h4 style="margin-top:21px;margin-bottom:10px;">Projects to import</h4>
		<mat-form-field  class="login-register-text-box" style="min-width: 35.8vw;">
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
		<mat-table class="mat-elevation-z8" *ngIf="hasProjects" [dataSource]="dataSource">
			<ng-container matColumnDef="Name">
				<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{element.name}}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="Group">
				<mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{element.group}}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="Action">
				<mat-header-cell *matHeaderCellDef>
					 <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                    	[checked]="selection.hasValue() && isAllSelected()"
                    	[indeterminate]="selection.hasValue() && !isAllSelected()">
      				</mat-checkbox>
				</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<mat-checkbox color="primary" (click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(element) : null"
						[checked]="selection.isSelected(element)">
      				</mat-checkbox>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
		</mat-table>
		<mat-paginator [pageSize]="6" showFirstLastButtons></mat-paginator>
		<span *ngIf="loading == true">
			<mat-progress-spinner diameter="64" mode="indeterminate"></mat-progress-spinner>
		</span>
		<div class="settings-message" *ngIf="error != ''">
			<p style="text-align:center;margin-top:10px;">An error occured while executing this request</p>
			<p *ngIf="isDevOrTest" style="text-align:center;margin-top:10px;">{{error}}</p>
		</div>
		<div *ngIf="!hasProjects && !loading && error == ''" class="settings-message">
			<p style="text-align:center;margin-top:10px;">Fill in the boxes above and click Connect</p>
		</div>
		<button *ngIf="hasProjects" [disabled]="this.selection.selected.length == 0" mat-raised-button color="primary"
			class="save-button" (click)="import()">
			Import
		</button>
	</div>
</div>